.topbar-resp {
  display: block;
  overflow: hidden;
  transition: all 0.5 ease-in;
  width: 100%;
}
.topbar-resp__desktop {
  display: none;
}
.topbar-resp__mobile {
  animation-name: fadeInDown;
}

@media (min-width: 480px) {
  .topbar-resp {
    padding: var(--space-xs);
  }
  .topbar-resp__desktop {
    display: block;
  }
  .topbar-resp__mobile {
    display: none;
  }
}
/* DOES NOT WORK */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
