.sort-and-filter-container {
  /* background-color: green; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--space-xl);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--space-xs);
  padding: var(--space-xs);
  z-index: var(--zIndex--overlay);
  border-right: 3px solid var(--themeSecondary);
}

.sort-container,
.filter-container {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: var(--themeSecondary);
  height: auto;
  bottom: 0;
  width: 100%;
  border-top-left-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
  z-index: var(--zIndex--overlay);
}

.desktop-sort-btn,
.desktop-filter-btn {
  display: none;
}

/* for all screens more than 786px */
@media screen and (min-width: 786px) {
  .sort-and-filter-container {
    position: relative;
    height: 100vh;
    min-width: 20%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
  }

  .mobile-sort-btn,
  .mobile-filter-btn {
    display: none;
  }

  .desktop-sort-btn,
  .desktop-filter-btn {
    display: block;
  }

  .sort-container,
  .filter-container {
    border-radius: var(--space-sm);
    position: relative;
    width: 100%;
  }
}